.order {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../imeges/Imgfon.jpg), url(../imeges/ImgOverlay.jpg);
        background-size: cover;
    margin: 0 auto;
    background-position: 50% 50%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../imeges/x2/Imgfonx2.jpg), url(../imeges/ImgOverlay.jpg);
        background-size: cover;
    }

    &__title {
        width: 696px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
        margin: 0 auto 30px auto;
        display: block;
    }
    @media (max-width:480px) {
        max-width: 480px;
        max-height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @media (max-width:768px) {
        max-width: 768px;
        max-height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @media (min-width:1100px) {
        max-width: 1600px;
        max-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}