.team-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__card-figure {
        background: var(--white-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc((100% - 120px) / 4);
        // margin-right: 30px;
        // &:last-child {
        //     margin-right: 0;
        // }
    }
    &__card--image {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    &__card-title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
        margin-bottom: 10px;
    }
    &__card-subtitle {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--address-color);
        margin-bottom: 16px;
    }
    &__social-networks {
        list-style: none;
        margin-bottom: 30px;
    }
    &__social--wight {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 50%;
        background-color: var(--white-color);
        color: var(--icon-color);
        fill: var(--icon-color);
        display: flex;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            fill: var(--white-color);
            background-color: var(--btn-logo-fh-color);
        }
    }
}

.container--grey {}

.team-card__icon {}

.team-card__vector {}