:root {
    --main-fon-color: #2f303a;
    --btn-logo-fh-color: #2196f3;
    --btn-hover-color: #188CE8;
    --white-color: #ffffff;
    --text-color: #212121;
    --address-color: #757575;
    --logo-color: #000000;
    --main-next-fon-color: #f5f4fa;
    --icon-color: #afb1b8;
    --border-color: #ececec;
    --next-border-color: #eee;

    --tablet: calc(100% - 2 * 15px);
    --tablet: calc(100% / 2 - 2 * 15px);
    --desktop: calc(100% / 4 - 2 * 15px);
}