.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    @media (min-width:767px) and (max-width:1200px) {
        margin-right: 88px;
    }
    @media (max-width:480px) {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-left: 15px;
    }
    @media (max-width:768px) {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 0;
    }
    @media (max-width:1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.logo--blue {
    color: var(--btn-logo-fh-color);
}

.logo--black {
    color: var(--logo-color);
}

.logo-footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo--wight {
    color: var(--white-color);
}