.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 621px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &__button--close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 6px;
        cursor: pointer;
        background-color: var(--white-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            fill: var(--btn-logo-fh-color);
        }
    }
    &__container {
        margin: 40px 40px 165px 40px;
    }
    &__icon {
        position: relative;
        bottom: 28px;
        left: 15px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            border: 1px solid var(--btn-logo-fh-color);
            fill: var(--btn-logo-fh-color);
        }
    }
    &__btn {
        font-size: 16px;
        line-height: 1.875;
        font-weight: 700;
        letter-spacing: 0.06em;
        color: var(--white-color);
        background-color: var(--btn-logo-fh-color);
        border: 0;
        padding: 10px 55px;
        border-radius: 4px;
        margin: 30px auto 40px auto;
        display: block;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
            background-color: var(--btn-hover-color);
        }
    }
    &__icon-checkbox {
        position: relative;
        top: 12px;
    }
}

.send-menu-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.send-menu {
    display: flex;
    flex-direction: column;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--btn-logo-fh-color);
        transition-duration: 250ms;
    }
}

.send-menu-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--address-color);
    margin-bottom: 4px;
}

.send-menu-send {
    display: block;
    justify-content: left;
    height: 40px;
    padding: 0 0 0 42px;
    font-family: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        border: 1px solid var(--btn-logo-fh-color);
        fill: var(--btn-logo-fh-color); 
    }
    &__textarea {
        height: 120px;
        padding: 12px 0 0 16px;
        font-family: inherit;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        resize: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 20px;
        }
    &:focus,
    &:hover {
        border: 1px solid var(--btn-logo-fh-color);
    }
}


.send-menu-check {
    padding-left: 35px;
}

.send-menu-checkbox {
    position: absolute;
    -moz-animation: none;
    -webkit-appearance: none;
    appearance: none;
}

.checkbox {
    position: absolute;
    width: 16px;
    height: 15px;
    background-image: url(../imeges/vector/svg/Vector.svg);
    left: 52px;
}

.send-menu-checkbox:checked + .checkbox {
    background-image: url(../imeges/vector/svg/iconcheck.svg);
}
.send-menu-checkbox-link {
    color: var(--btn-logo-fh-color);
    border-bottom: 1px solid currentColor;
    display: inline-block;
    line-height: 0.805;
}