.porfolio-nav {
    margin-bottom: 32px;
}

.nav-btn-portfolio {
    background: var(--main-next-fon-color);
    border-radius: 4px;
    margin-right: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
        margin-right: 0;
    }
    &:hover,
    &:focus {
        background-color: var(--btn-logo-fh-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.btn-portfolio {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: var(--white-color);
        background: var(--btn-logo-fh-color);
        border: none;
    }
}